.square{
	width:69px;
	height:69px;
	
}
.selected{
	border:2px solid green !important;
}
.white{
	background-color:#ffce9e  !important;
	/* border:1px solid black; */
	
}
.black{
	background-color:#d18b47 !important;
	/* border:1px solid black; */
}
.king-white{
	background-image:url("../pages/chess_images.png");
	background-repeat: no-repeat;
    background-position: 7px -90px;
    width: 100%;
    height: 100%;
}
.queen-white{
	background-image:url("../pages/chess_images.png");
	background-repeat:no-repeat;
	background-position: -104px -90px;
    width: 100%;
    height: 100%;
}
.bishop-white{
	background-image:url("../pages/chess_images.png");
	background-repeat:no-repeat;
    background-position: -324px -90px;
    width: 100%;
    height: 100%;
}
.horse-white{
	background-image:url("../pages/chess_images.png");
	background-repeat:no-repeat;
	background-position: -433px -90px;
    width: 100%;
    height: 100%;
}
.rook-white{
	background-image:url("../pages/chess_images.png");
	background-repeat:no-repeat;
	background-position: -212px -90px;
    width: 100%;
    height: 100%;
	
}
.soldier-white{
	background-image:url("../pages/chess_images.png");
	background-repeat:no-repeat;
	    background-position: -545px -90px;
    width: 100%;
    height: 100%
}

.king-black{
	background-image:url("../pages/chess_images.png");
	background-repeat: no-repeat;
    background-position: 7px 0px;
    width: 100%;
    height: 100%;

}
.queen-black{
	background-image:url("../pages/chess_images.png");
	background-repeat:no-repeat;
	background-position: -104px 0px;
    width: 100%;
    height: 100%
}
.bishop-black{
	background-image:url("../pages/chess_images.png");
	background-repeat:no-repeat;
	background-position: -324px 0px;
    width: 100%;
    height: 100%;
}
.horse-black{
	background-image:url("../pages/chess_images.png");
	background-repeat:no-repeat;
	background-position: -433px 0px;
    width: 100%;
    height: 100%;
}
.rook-black{
	background-image:url("../pages/chess_images.png");
	background-repeat:no-repeat;
	background-position: -212px 0px;
    width: 100%;
    height: 100%;
}
.soldier-black{
	background-image:url("../pages/chess_images.png");
	background-repeat:no-repeat;
	    background-position: -545px 0px;
    width: 100%;
    height: 100%
}
